{% extends "base.html" %}

{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="{{ 'stylesheets/extra.css' | url }}">
{% endblock %}

{% block content %}
  <div class="three-column-layout">
    <div class="sidebar">
      {% include "partials/nav.html" %}
    </div>
    <div class="doc-content">
      {{ super() }}
    </div>
    <div class="code-sample">
      <h3>Code Sample</h3>
      <!-- Add your code sample content here -->
        {
            "name": 'girl'
        }
    </div>
  </div>
{% endblock %}